#information {
    display: flex;
    justify-content: space-between;
    width: 750px;
    padding: 20px;
}

.infoCont {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.personalInfo {
    list-style: none;
}

.personalInfoCont {
    display: flex;
    gap: 10px;
}